*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.admin-dashboard{
    background-color: black;
    display: flex;
    align-items: center;
    height:100vh;
}
.dashboard-wrap{
    display: flex;
    width:80%;
    height: 90vh;
    margin: 0 auto;
    padding: 0.5%;
    justify-content: space-between;
    border-radius: 5px;
}
.navigation{
    background-color: goldenrod;
    padding: 0.8%;
    width: 25%;
    border-radius: 5px;
}
.navigation ul{
    list-style: none;
}
.navigation ul li{
    background-color: black;
    margin: 4% 0%;
    color:white;
    padding: 5% 2%;
    border-radius: 5px;
    font-size: 12px;
}
.navigation ul li:hover{
    cursor: pointer;
}
.navigation img{
    width:25%;
    margin-top: -50px;
    position: relative;
    left: 95px;
    filter: drop-shadow(0px 8px 5px rgb(0, 0, 0));
}
.dashboard-page{
    background-color: rgb(255, 255, 255);
    width: 74%;
    border-radius: 5px;
    padding: 1%;
}